{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reimpostazione della password</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'css/fonts/font.css' %}" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="login_outer">
			<div class="login_inner  d-flex flex-wrap">
				<div class="login_left">
					<a href="#">
						<img src="{% static 'images/logo.png' %}" alt="">
						
					</a>
				</div>
				<div class="login_right">
					<div class="login_text">
						{% if messages %}
						{% for message in messages %}
							{{ message }}
						{% endfor %}
						{% endif %}
                        <h3>Reimpostazione della password</h3>
                        <p>Hai dimenticato la tua password? Inserisci il tuo indirizzo email di seguito e ti invieremo tramite email le istruzioni per impostarne uno nuovo.</p>
						
						<div class="login_form">

							<form method="post">
								{% csrf_token %}
								{{ form.errors }}
								<div class="login_group_outer">
								
									<div class="login_group">
										
										<input type="email" class="form-control" placeholder="La tua email" name="email">
									</div>
								</div>
								<div class="login_btn">
									<button class="btn btn-light-blue btn-blue-hover" type="submit">Invia</button>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
	</body>
</html>
