{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Trend</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'css/fonts/font.css' %}" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="login_outer">
			<div class="login_inner  d-flex flex-wrap">
				<div class="login_left">
					<a href="#">
						<img src="{% static 'images/logo.png' %}" alt="">
						
					</a>
				</div>
				<div class="login_right">
					<div class="login_text">
                        <h3>Reimpostazione della password completata</h3>
                        <p>La tua password è stata impostata. Puoi andare avanti e accedere ora.</p>
                        <a href="{% url 'core:index' %}">accesso</a>
                    </div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
	</body>
</html>
