{% load i18n %}{% autoescape off %}
<h3>You're receiving this email because you requested a password reset for your user account at Trend: {{ site_name }}.</h3>
<br>

<h3>Please go to the following page and choose a new password:</h3>

{% block reset_link %}
<br>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
<br>
{% endblock %}

<br>
{% translate 'Your Email Id:' %} {{ user.get_username }}
<br>

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Trend team{% endblocktranslate %}

{% endautoescape %}
