{% extends 'base.html' %}

{% block title %}
<title>Trattamento della Privacy</title>
{% endblock title %}



{% block content %}

<div class="m-t-82">
	<div class="page_content">
		<div class="vendor_outer">

			<div class="vendor_title">
				<h4>Trattamento della Privacy</h4>

			</div>
			<div class="link_box">
				<form method="POST">
					{% csrf_token %}
					<p>
						<textarea name="text" cols="60" rows="10" id="id_text" >{{ form.text.value }}</textarea>
					</p>

					<button type="submit" class="btn btn-primary">inviare le modifiche</button>
				</form>

			</div>
		</div>
	</div>
	<div class="footer">
		<p>Copyright © 2020. </p>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
	var labels = document.getElementsByTagName('label')
	var inputs = document.getElementsByTagName('input')

	for (i = 0; i < inputs.length; i++) {
		inputs[i].className += 'form-control'
	}

</script>
{% endblock script %}