{% extends 'base.html' %}

{% block title %}
<title>Sfida del gioco</title>
{% endblock title %}



{% block content %}
	
	<div class="m-t-82">
		<div class="page_content">
			<div class="vendor_outer">
			
			<div class="vendor_title">
					<h4>Sfida del gioco</h4>
					<a href="{% url 'game:create_challenge' game.id %}"><i class="fa fa-plus"></i></a>
				</div>
			<div class="link_box">
			
			<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
			<tr>
			<th>Nome del gioco </th>
			<th>Titolo della sfida </th>
			<th>Posizione</th>
			<th></th>
			</tr>
			</thead>
			<tbody>
			
			{% if challenges %}
				{% for challenge in challenges %}
				<tr>
				<td>{{ game|title }}</td>
				<td>{{ challenge.title|title }}</td>
				<td>{{ challenge.location_name|slice:":40" }}</td>
				<td>
				<a href="{% url 'game:single_challenge' challenge.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
				<a href="{% url 'game:edit_challenge' challenge.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a> &nbsp;&nbsp;
				<a href="{% url 'game:delete_challenge' challenge.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
				</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>Crea sfide per questo gioco.</td>
				</tr>
			{% endif %}
			
			
			</tbody>
			</table>
			
			
			</div>
			</div>
		</div>
		<div class="footer">
			<p>Copyright © 2020. </p>
		</div>
	</div>
{% endblock content %}