{% extends 'base.html' %}

{% block title %}
<title>scatola magica</title>
{% endblock title %}



{% block content %}
<div class="m-t-82">
	<div class="page_content">
		<div class="vendor_outer">
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
		<div class="vendor_title">
				<h4>scatola magica</h4>
				<a href="{% url 'reward:create_magic_box' %}"><i class="fa fa-plus"></i></a>
			</div>
		<div class="link_box">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
		<thead>
		<tr>
		<th>Nome del scatola magica </th>
		<th>Creato a </th>
		<th>Punti</th>
		<th></th>
		</tr>
		</thead>
		<tbody>
		
		{% for box in magic_boxes %}
		<tr>
		<td>{{ box.title|title }}</td>
		<td>{{ box.created_at }}</td>
		<td>{{ box.points }}</td>
		<td>
		<a href="{% url 'reward:magic_box_detail' box.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
		<a href="{% url 'reward:update_magic_box' box.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a> &nbsp;&nbsp;
		<a href="{% url 'reward:delete_magic_box' box.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</td>
		</tr>
		{% endfor %}
		
		
		</tbody>
		</table>
		
		
		</div>
		</div>
	</div>
	<div class="footer">
		<p>Copyright © 2020. </p>
	</div>
</div>
{% endblock content %}